
$xs: "only screen and (max-width: 570px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 992px)";
$lg: "only screen and (max-width: 1200px)";
$lgg: "only screen and (max-width: 1400px)";

//$main:#dac5ae;
$main:#cf9338;
$main2:#cf9338;
$main3:#d9ab62;
$main4:#c8a973;
$black:#1d1d1b;
$grafit:#ececed;
$link:#1e65a7;
$greay:#797a7b;